.title{
    display: block;
    font-size: 23px;
    font-weight: 700;

    margin-bottom: 10px;
}

.daily-item{
    height: 50px;
    background-color: #f5f5f5;
    font-size: 15px;
    border-radius: 15px;

    display: flex;
    align-items: center;

    padding: 5px 20px;
    margin: 5px;

    cursor: pointer;
}

.icon-small{
    width: 50px;
}

.day{
    color: #212121;
    font-weight: 600;
    flex: 1 1;

    margin-left: 15px;
}

.description{
    text-align: right;
    text-transform: capitalize;
    flex: 1 1;

    margin-right: 15px;
}

.min-max{
    color: #757575;
}

.daily-details-grid{
    display: grid;
    grid-row-gap: 0;
    row-gap: 0;
    grid-column-gap: 15px;
    column-gap: 15px;
    flex: 1 1;
    grid-template-columns: auto auto;

    padding: 5px 15px;
}

.daily-details-grid-item{
    height: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.daily-details-grid-item label:first-child{
    color: #757575;
}

.daily-details-grid-item label:last-child{
    color: #191919;
}